node_modules
internal/routes/client/assets/*
!internal/routes/client/assets/.gitkeep
/frans
*.exe
*.db
.tanstack
tmp
migrations/*.sql
migration.db
/internal/config/version.go
*.db-journal
*.out
coverage.txt
testfiles
